# MacOS
**/.DS_Store

# Node
node_modules/

# Test results
**test-results/
**playwright-report/

# IDE
.idea/
.vscode/
.specstory/
.uv-cache/

# CodingAgent
.cursor/
.codex/
.claude/
.agents/

# Cursor
.cursorrules
.cursorignore
.cursorindexingignore
